
.form{
    background: #F4F5F5;
}
.form__title {
    padding-bottom: 57px;
    padding-top: 62px;
}
.form-row {
    display: flex;
    margin-bottom: 26px;
}
.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    padding: 21px 30px;
    font-size: 18px;
    color: #1A1B1E;
    line-height: 24px;
    transition: all .5s;
}
.form__input:focus {
border: 1px solid #F5170E;
outline: none;
}
.form__input::placeholder {
   
    color: #666666;
}
.form__input:last-child {
    margin-right: 0px;
}
.form__input--textarea {
    height: 235px;
    width: 1142px;
}
.form__elem {
    cursor: pointer;
}
.form__checkbox:checked ~ .form__tag {
    background: #B9EAE4;
}
.form__checkbox {
display: none;
}
.form__conrtols {
    display: flex;
    margin-bottom: 32px;
}
.form__controls-title {
    width: 33%;
}
.form__list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.form__item {
    margin-right: 7px;
    margin-bottom: 9px;
}
.form__controls-title {
    font-size: 18px;
    color: #1A1B1E;
}
button {
    background: transparent;
    border:none ;
    color:#FFFFFF ;
    cursor: pointer;
}
.btn--black {
    background:#8E8E8E;
    transition: all .4s;
    
}
.btn--black:hover {
    background: #2B2B2B;
}
.form__btn-btn {
    margin-right: 17px;
}

.form__btn {
    display: flex;
    justify-content: flex-end;
}
.form__cont {
    padding-bottom: 96px;
}